/* import font from Google Font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap');
/* reset page browser */

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* menu */
.nav__resp {
    display: none;
}

nav {
    position: sticky;
    top: 0;
    margin-top: 20px;
    z-index: 99;
}

h1 {
    text-transform: uppercase;
}

ul li {
    margin-inline-end: 34px;
}

.nav__resp-menu {
    display: none;
}

.container__text .text {
    font-size: 48px;
}

nav .nav {
    align-items: center;
    border: 1px solid black;
    border-radius: 48px;
    display: flex;
    margin: 0 auto;
    padding: 16px 88px;
    flex-direction: row;
    justify-content: space-between;
    width: clamp(320px, 80%, 1232px);
    background: #EEEEEE;
}

ul {
    display: flex;
}

ul li {
    list-style-type: none;
}

ul li a {
    border: 1px solid black;
    border-radius: 40px;
    color: black;
    padding-block: 10px;
    padding-inline: 16px;
    text-decoration: none;
    background: #fff;
}

.focus {
    background: black;
    color:#BFFF00;
}

/* header portfolio */

main {
    padding-top: 20px;
}

.about {
    background: black;
    color: #BFFF00;
}

.portfolio {
    display: flex;
    width: clamp(320px, 80%, 1232px);
    margin: 0 auto;
    padding-top: 64px;
    gap: 16px;
}

.portfolio__text {
    border: 1px solid black;
    border-radius: 32px;
    padding: 46px;
}

.portfolio__text span {
    display: block;
    padding-bottom: 48px;
}

bold {
    font-weight: bold;
}

/* main */

/* section icon figma, illustrator, photoshop, premiere, indesign */

.container__skills {
    display: flex;
    width: clamp(300px, 80%, 1232px);
    margin: 0 auto;
    gap: 16px;
}

.container__skills h3 {
    text-transform: uppercase;
    font-size: 33px;
}

.skills {
    background: black;
    color: white;
    padding: 46px;
    width: 56%;
    border-radius: 42px;
}


.icon {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-top: 24px;
}


/* section work experience years */
.work__experience, .info {
    border: 1px solid black;
    border-radius: 32px;
    padding: 46px;
    width: clamp(300px, 100%, 911px);
}

:where(.work__experience, .container__education, .container__skills) :is(h3) {
    font-weight: normal;
}

.work__experience {
    background: #BFFF00;
}

/* class to change section work experience and education */

.container__experience {
    margin-top: 14px;
}

.date {
    margin-top: 20px;
}

.info__experience {
    margin-bottom: 36px;
}

.info__experience span {
    font-weight: bold;
}

/* education */

/*  */

.container__education-info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.container__education {
    border: 1px solid black;
    border-radius: 32px;
    padding: 46px;
    width: clamp(300px, 100%, 890px);
    background: #FF3A00;
    color: white;
}

/*  */

.info {
    background: #9999FF;
}

footer {
    padding: 200px 0 30px 0;
}